<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iqiongzhi.SCB.mapper.CollectionMapper">
    <select id="getCollectedSoundList" parameterType="list" resultType="com.iqiongzhi.SCB.data.po.Sound">
        SELECT id, user_id, title, description, category, cover_url, location
        FROM sound
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
