<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iqiongzhi.SCB.mapper.SoundMapper">
    <select id="getSoundsByIds" resultType="com.iqiongzhi.SCB.data.po.Sound">
        SELECT * FROM sound WHERE id IN
        <foreach collection="soundIds" item="soundId" open="(" separator="," close=")">
            #{soundId}
        </foreach>
    </select>
</mapper>